# Xcode
build/
DerivedData/
*.xcworkspace
*.xcuserstate
*.xcuserdata/
*.moved-aside
*.xcscmblueprint

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/screenshots
fastlane/test_output

# Archives
*.xcarchive

# Xcode project user data
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# Other
.DS_Store
.idea/
*.orig
